<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.kwan.a4.controller.FrontController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>

  <security-role>
      <role-name>cashier</role-name>
    </security-role>
    <security-role>
      <role-name>shelver</role-name>
    </security-role>
    <security-role>
      <role-name>manager</role-name>
    </security-role>
    <!-- define the URLs that are restricted-->
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>ForCashier</web-resource-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/products/add</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>cashier</role-name>
        <role-name>shelver</role-name>
        <role-name>manager</role-name>
      </auth-constraint>
    </security-constraint>
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>ForShelver</web-resource-name>
        <url-pattern>/products/edit</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>shelver</role-name>
        <role-name>manager</role-name>
      </auth-constraint>
    </security-constraint>
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>ForManager</web-resource-name>
        <url-pattern>/products/delete</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>manager</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- methods: BASIC, DIGEST, FORM, CLIENT-CERT -->
    <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
        <form-login-page>/login</form-login-page>
        <form-error-page>/login/failed</form-error-page>
      </form-login-config>
    </login-config>
</web-app>
